body{
  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
  line-height: 1.5;
  padding:0;
  margin:0;
}

main {
  margin: 0 auto;
  max-width: 50em;
  padding: 0em 1em;
}

hr {
  border: none;
  background-color: #5D77C4;
  height: 1px;
}

header, h1, h2 {
  font-family: 'Josefin Slab', serif;
}

h1 {
  border-top: 1px #5D77C4;
  font-size: 2em;
}

strong {
  color: #5B1723;
}

a {
  color: #5D77C4;
  text-decoration: none;
}
a:hover {
  color: #545791;
  text-decoration: underline;
}

img.responsive {
  max-width:100%;
}

dl {
  border-left: 3px solid #eee;
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  font-weight: bold;
  color: #5B1723;
}
dt::after {
  content: ":";
}
dd {
  margin: 0 0 0 210px;
  padding: 0 0 0.5em 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
td, th {
  padding: 8px;
}
th {
  color: white;
  background: #545791;
}
table {
  border-collapse: collapse;
  border-right: 1px solid #aB3743;
  border-bottom: 1px solid #aB3743;
  border-radius: 3px;
}

/**** header ****/

header {  
  background-color: #545791;
  background-image: url("/img/blueblossom.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 5vw 2em;
  text-align: center;
  /* inset shadow */
  box-shadow: inset 0px 0px 40px rgba(0,0,0,1.0);
}

header.small {
  padding: 2vw 2em;
  text-align: left;
}

header h1 {
  color: white;
  font-size: 3em; /* was 2.5em */
  font-weight: 300; /* was 300 */
}

header p {
  color: white;
  font-weight: 300;
  font-size: 2em;
}
header a {
  float: right;
  clear: both;
  color: white;
}
header a, a.button {
  border: 1px solid #94C7E6;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}
header a:hover, a.button:hover {
  background:  #545791;
  color: white;
}
.card {
  margin:0px;
  padding:0px 0px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
  -moz-box-shadow:    0px 0px 20px rgba(0,0,0,0.0);
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
  box-shadow:         0px 0px 20px rgba(0,0,0,0.0);
}

footer {
    text-align: center;
    color: #888;
    font-size: 0.8em;
    padding: 1em;
}

/***** Responsive YouTube *****/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
