<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52221111-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52221111-3');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Slabo+27px" rel="stylesheet">
    
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.annamay.tk/favicon.ico?v=1" />
    
    <title>AnnaMay Cosplay</title>
  </head>
  <body>
    {{content}}
    <hr/>
    <footer>
      &copy; AnnaMay Cosplay All Rights Reserved
    </footer>
  </body>
</html>
